body {
  margin :0;
  padding: 0;
  font-family: sans-serif;
  background:linear-gradient(to left , rgba(0,37,122,1), rgba(7,237,234,1))
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
